################# GENERAL #########################
.DS_Store
.vscode
.idea
debug
.bundle
*.swp
*.crt
*.csr
*.key
*.prof
*.test
*.pem
logs/

################# BACKEND #########################
/backend/vendor
/backend/dist
/backend/local-archive
coverage.txt

################# FRONTEND #########################
/frontend/node_modules
/frontend/.pnp
.pnp.js
/frontend/build
/frontend/.next/
/frontend/out/
/frontend/coverage
/frontend/tailwind.*
/frontend/postcss.config.js
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
*.tsbuildinfo
next-env.d.ts
